@page "/configure"

@using LANMaker.Data
@inject ConfigurationService ConfigurationService

<h1>Settings</h1>

<p>Add your LAN coordinator's server manifest URL below.</p>

@if (configuration == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<EditForm Model="@configuration" OnValidSubmit="@HandleValidSubmit">
		<div class="mb-3">
			<label class="form-label" for="manifestUrl">Manifest URL</label>
			<InputText class="form-control" id="manifestUrl" @bind-Value="configuration.ManifestUrl" />
		</div>
			
		<div class="mb-3">
			<label class="form-label" for="storagePath">Custom Storage Path</label>
			<InputText class="form-control" id="storagePath" @bind-Value="configuration.StoragePath" />
		</div>
		
		<div class="mb-3">
			<button class="btn btn-primary" type="submit">Save</button>
		</div>
	</EditForm>
}

@code {
	private Configuration configuration;

	protected override async Task OnInitializedAsync()
	{
		configuration = await ConfigurationService.GetConfiguration();
	}

	private async void HandleValidSubmit()
	{
		await ConfigurationService.SaveConfiguration(configuration);
	}
}
