@page "/"

@using LANMaker.Data
@using System.Threading
@inject ManifestService ManifestService

<h1>Owned Games</h1>

<p>These are all the games available for your selected manifest.</p>


@if (manifest == null)
{
    <p><em>Loading...</em></p>
}
else
{
	<div>
		@foreach (var game in manifest.Games)
		{
			<div class="card" style="width: 18rem;">
				<img src="@game.PosterUrl" class="card-img-top" alt="@game.Name Poster">
				<div class="card-body">
					<h5 class="card-title">@game.Name</h5>
					<p class="card-text">@game.Description</p>
					<a href="#" class="btn btn-primary">Download</a>
				</div>
			</div>
		}
	</div>
}

@code {
	private Manifest manifest;

	protected override async Task OnInitializedAsync()
	{
		manifest = await ManifestService.UpdateLatestManifest(new CancellationToken());
	}
}