@page "/installed"

@using LANMaker.Data
@inject StateContainer StateContainer

<h1>Installed Games</h1>

@if (state == null)
{
    <p><em>Loading...</em></p>
}
else
{
	<div class="d-flex flex-wrap">
		@foreach (var game in state.Games)
		{
			<GameCard Game=game IsInstalledView=true />
		}
	</div>
}

@code {
	private StateContainer state;

	protected override async Task OnInitializedAsync()
	{
		state = StateContainer;
	}
}
