@page "/"

@using LANMaker.Data
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager

<h1>Installed Games</h1>

<div class="d-flex flex-wrap">
	@if (StateContainer.Games != null)
	{
		@foreach (var game in StateContainer.Games)
		{
			@if (game.IsInstalled)
			{
				<GameCard Game=game IsInstalledView=true />
			}
		}
	}
</div>
