@using LANMaker.Data
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject StateContainer StateContainer
@code {

}

<div class="page theme-@StateContainer.Configuration.ThemeName">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
}
